## List
1. List is an ordered sequence of items.
2. We can have different data types under a list. E.g we can have integer, float and string items ina same list.
3. Lists are created using square brackets

In Python, a list is a built-in data type that allows you to store an ordered collection of items, which can be of different types. Lists are mutable, meaning you can change, add, or remove elements after the list has been created. Lists are very versatile and are one of the most commonly used data structures in Python.

### Key Characteristics of Lists:
 - Ordered: The order in which elements are added to the list is maintained.
 - Mutable: You can modify lists (add, remove, or change elements).
 - Allow Duplicates: Lists can contain multiple identical values.
 - Can Store Different Data Types: A list can store integers, strings, floats, or even other lists.
#### Syntax: A list is created by enclosing a comma-separated sequence of values within square brackets []

In [1]:
list1 = [] # Empty List

In [2]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List items are ordered, changeable, and allow duplicate values.
### List items are indexed, the first item has index [0], the second item has index [1] etc.

In [3]:
list4=['one','two',"three"]# List of strings
list4

['one', 'two', 'three']

In [4]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]# with duplicate items
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
# finding length of the list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [6]:
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

In [7]:
#accessing items from list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## Negative Indexing
### Negative indexing means start from the end

  -1 refers to the last item, 
  -2 refers to the second last item etc.

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Slicing Lists
#### You can extract a sublist using slicing. The syntax is list[start:end], where start is the index of the first element, and end is the index up to (but not including) the element.

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])  # Output: [2, 3, 4]

[2, 3, 4]

### Modifying a List
#### You can change the values of elements in a list by accessing their index.

In [11]:
numbers = [1, 2, 3, 4, 5]
numbers[2] = 99  # Change the third element to 99
print(numbers)  # Output: [1, 2, 99, 4, 5]

[1, 2, 99, 4, 5]

## Adding Elements to a List
 - Use append() to add an element to the end of the list.
 - Use insert() to add an element at a specific index.

In [12]:
numbers = [1, 2, 3]
numbers.append(4)  # Add 4 to the end of the list
print(numbers)  # Output: [1, 2, 3, 4]

numbers.insert(1, 5)  # Insert 5 at index 1
print(numbers)  # Output: [1, 5, 2, 3, 4]

[1, 2, 3, 4]
[1, 5, 2, 3, 4]

## List Methods
 - append()	Adds an element at the end of the list
 - clear()	Removes all the elements from the list
 - copy()	Returns a copy of the list
 - count()	Returns the number of elements with the specified value
 - extend()	Add the elements of a list (or any iterable), to the end of the current list
 - index()	Returns the index of the first element with the specified value
 - insert()	Adds an element at the specified position
 - pop()	Removes the element at the specified position
 - remove()	Removes the item with the specified value
 - reverse()	Reverses the order of the list
 - sort()	Sorts the list

In [2]:
l1 =[1,2,3,4]
l2 = [5,6,7]
l2.extend(l1)
print(l2)

[5, 6, 7, 1, 2, 3, 4]

## List Comprehension
#### offers a shorter syntax when you want to create a new list based on the values of an existing list
### Syntax

  -  newlist = [expression for item in iterable if condition == True]

In [4]:
# Example for list iteration
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
nums_square = [ n**2 for n in nums]
print(nums_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [5]:
## Even numbers squares
odd_num_squares = [n**2 for n in nums if n%2 == 0]
print(odd_num_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [1]:
## List Passing and handling 

def grading(marks_list):
    for m in marks_list:
        if m >80:
            print(f"Marks is: {m}, Grade Distinction")
        elif m >= 60:
            print(f"Marks is: {m}, Grade First")
        elif m >= 50:
            print(f"Marks is: {m}, Grade Second")
        elif m >= 40:
            print(f"Marks is: {m}, Grade Third")
        else:
            print(f"Marks is: {m}, Grade ** FAIL **")

In [2]:
marks_list = [20,30,80,70,90,10,35,56]
grading(marks_list)

Marks is: 20, Grade ** FAIL **
Marks is: 30, Grade ** FAIL **
Marks is: 80, Grade First
Marks is: 70, Grade First
Marks is: 90, Grade Distinction
Marks is: 10, Grade ** FAIL **
Marks is: 35, Grade ** FAIL **
Marks is: 56, Grade Second

In [1]:
# List repetition
marks_list = [20,30,80,70,90,10,35,56]
print(marks_list)

print (marks_list * 3)

[20, 30, 80, 70, 90, 10, 35, 56]
[20, 30, 80, 70, 90, 10, 35, 56, 20, 30, 80, 70, 90, 10, 35, 56, 20, 30, 80, 70, 90, 10, 35, 56]

In [4]:
str1 = "Hello"
str_to_tuple = tuple(str1)
print(str_to_tuple)

print(str(str_to_tuple))
#print(tuple_to_str)

('H', 'e', 'l', 'l', 'o')
('H', 'e', 'l', 'l', 'o')