### Sequence Datatypes
#### List
#### Strings

## Strings

In [1]:
my_string = "Hello World"
print(my_string)

Hello World

In [2]:
mystr = "Hello World"
print(mystr)

Hello World

In [4]:
mystr, id(mystr), hex(id(mystr))

('Hello World', 4460879280, '0x109e39db0')

In [5]:
my_string, id(my_string), hex(id(my_string))

('Hello World', 4458311344, '0x109bc6eb0')

In [6]:
# define string using triple quotes

triple_quote_string = """ Hello

    This is triple quote string
    
    Testing purpose adding empty lines and spaces 
    
        """

print(triple_quote_string)

 Hello

    This is triple quote string

    Testing purpose adding empty lines and spaces

In [7]:
triple_quote_string, id(triple_quote_string), hex(id(triple_quote_string))

(' Hello\n\n    This is triple quote string\n    \n    Testing purpose adding empty lines and spaces \n    \n        ',
 4460809552,
 '0x109e28d50')

In [2]:
my_str = "testing---"
my_str *= 5
my_str

'testing---testing---testing---testing---testing---'

In [3]:
len(my_str)

50

In [4]:
my_str[0],my_str[49]

('t', '-')

In [5]:
mystr = "NarasimhaRaoKonangi"
len(mystr)

19

In [6]:
mystr[0], mystr[18], mystr[-1], mystr[-19]

('N', 'i', 'i', 'N')

### String Slicing

In [7]:
mystr[0:5]

'Naras'

In [8]:
mystr[:]

'NarasimhaRaoKonangi'

In [9]:
mystr[:10]

'NarasimhaR'

In [10]:
mystr[-4:-8]

''

In [11]:
mystr[-4:]

'angi'

In [12]:
mystr[-8:-4]

'oKon'

In [13]:
del mystr
mystr

NameError: name 'mystr' is not defined

In [14]:
str1 = "hello"
str2 = "narasimha"
str1+str2

'hellonarasimha'

In [15]:
for i in str1:
    print(i)

h
e
l
l
o

In [16]:
for i in enumerate(str1):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [17]:
mystr1 = "sri is a good boy or bad boy?"
print("sri" in mystr1)

True

In [18]:
print("?" in mystr1)

True

In [20]:
"""
The partition() method searches for a specified string and splits the string into
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

### String Functions

In [22]:
mystr = "     Narasimha Rao Konangi      "
mystr.strip()

'Narasimha Rao Konangi'