# Python Fundamentals - Week 2

### Tuples

In [ ]:
# Define a new tuple
tuple_1 = ("Max", 28, "New York")

print(tuple_1)
print(type(tuple_1))

('Max', 28, 'New York')
<class 'tuple'>

In [ ]:
# Parentheses are optional
tuple_2 = "Linda", 25, "Miami"
print(tuple_2)

('Linda', 25, 'Miami')

In [ ]:
# Tuples are immutable (ERROR)
tuple_1[2] = "Boston"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Lists are mutable (unlike tuples)
list_1 = ["Max", 28, "New York"]

list_1[2] = "Boston"

print(list_1)

['Max', 28, 'Boston']

In [ ]:
# Tuples are iterable (combine tuples and lists)
new_tuple = (["Alice", 25, "New York"], ["Max", 28, "Boston"])

names = [item[0] for item in new_tuple]
ages = [item[1] for item in new_tuple]
cities = [item[-1] for item in new_tuple]

print(names)
print(ages)
print(cities)

['Alice', 'Max']
[25, 28]
['New York', 'Boston']

In [ ]:
# Tuple unpacking
person = ("Alice", 25, "New York")

name, age, city = person

print(name)
print(age)
print(city)

Alice
25
New York

In [ ]:
# Integers: One element Tuple definition

tuple_1 = (5) # Not a tuple

print(tuple_1)
print(type(tuple_1))
print()

tuple_2 = (5,) # tuple

print(tuple_2)
print(type(tuple_2))
print()

# Also true for strings
new_tuple = ('a',)

print(new_tuple)
print(type(new_tuple))

5
<class 'int'>

(5,)
<class 'tuple'>

('a',)
<class 'tuple'>

#### Iteration through Tuples

In [ ]:
# Iterate through a tuple
tuple_1 = ("Max", 28, "New York")


# Iterate by item
for item in tuple_1:
    print(item)

print()

n = len(tuple_1)

# Iterate by index
for i in range(n):
    print(i, tuple_1[i])

print()

# Iterate by index and item (enumerate)
for idx, val in enumerate(tuple_1):
    print(idx, val)

Max
28
New York

0 Max
1 28
2 New York

0 Max
1 28
2 New York

In [ ]:
# Search a tuple
tuple_1 = (["Max", 28, "New York"])

result1 = "New York" in tuple_1
result2 = "Chicago" in tuple_1
result3 = "Boston" not in tuple_1

print(result1, result2, result3)

True False True

In [ ]:
# Some tuples properties
my_tuple = ('a','p','p','l','e')

# len() : get the number of elements in a tuple
print(len(my_tuple))

# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))

# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

5
2
3

In [ ]:
# repetition (such as lists and strings)
print(('a','p','p','l','e') * 2)

('a', 'p', 'p', 'l', 'e', 'a', 'p', 'p', 'l', 'e')

#### Type Conversions

In [ ]:
# Convert itearable to tuple
my_list = [1, 2, 3]
tuple_4 = tuple(my_list)
print(tuple_4)

print()

# Convert list to tuple
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

print()

# Convert tuple to list
my_tuple = ('a', 'b', 'c', 'd')
tuple_to_list = list(my_tuple)
print(tuple_to_list)

print()

# convert string to tuple
my_str = 'Hello'
str_to_tuple = tuple(my_str)
print(str_to_tuple)

(1, 2, 3)

('a', 'b', 'c', 'd')

['a', 'b', 'c', 'd']

('H', 'e', 'l', 'l', 'o')

#### Memory Usage

In [ ]:
my_list = [0, 1, 2, 5, 10]
my_tuple = (0, 1, 2, 5, 10)

In [ ]:
# compare the size
import sys

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

104 bytes
80 bytes

#### Function Output

In [ ]:
# a = (a // b) * b + (a % b)

# Using a tuple to return multiple values
def divide(a, b):
    quotient = a // b
    remainder = a % b
    return quotient, remainder

In [ ]:
# result = divide(10, 3) # 10 = 3 x 3 + 1

# result = divide(10, 3)
# print(result)

quotient, remainder = divide(10, 3)
print(quotient, remainder)

3 1

### Sets

In [ ]:
# Define a new set
set1 = {1, 5, 10, 4, 6, 9, 19}

print("Here is our set:", set1)
print("\nThe length of the set is:", len(set1))
print("\nThe maximum element of the set", max(set1))

Here is our set: {1, 19, 4, 5, 6, 9, 10}

The length of the set is: 7

The maximum element of the set 19

In [ ]:
# The sorted behavior is due to small values of integers which is not necessarily the case

# Check this out:
new_set = {1, 3, 4, 2, 0, -4, 6, 10, 7, 8, "a", "b", 1000}
print(new_set)

{0, 1, 2, 3, 4, 6, 7, 8, 1000, 10, 'a', 'b', -4}

In [ ]:
# Define an empty set
empty_set = set()
print(empty_set)
print(type(empty_set))

print()

# Don't confuse it with dictionary
empty_dict = {}
# empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

set()
<class 'set'>

{}
<class 'dict'>

In [ ]:
# Set is not iterable
set1 = {1, 5, 10, 4, 6, 9, 19}

set1[2]

TypeError: 'set' object is not subscriptable

In [ ]:
# Sets remove duplicate elements
numbers = {2, 4, 6, 6, 2, 8, 6, 6, 6, 6}
print(numbers)

{8, 2, 4, 6}

#### Sets Built-in Functions

In [ ]:
# Set built-in functions

fruits = {"apple", "banana", "cherry"}
print(fruits)

print()

# Adding an element
fruits.add("orange")
print(fruits)

print()

# Removing an element
fruits.remove("cherry")
print(fruits)

{'apple', 'cherry', 'banana'}

{'apple', 'cherry', 'orange', 'banana'}

{'apple', 'orange', 'banana'}

In [ ]:
more_fruits = {"orange", "strawberry", "kiwi"}

# Union
all_fruits = fruits.union(more_fruits)
print(all_fruits)

print()

# Intersection
common_fruits = fruits.intersection(more_fruits)
print(common_fruits)

print()

# Difference
different_fruits = all_fruits.difference(common_fruits)
print(different_fruits)

print()

# Update
fruits = {"apple", "banana", "orange"}
more_fruits = {"orange", "strawberry", "kiwi"}
fruits.update(more_fruits)
print(fruits)

{'kiwi', 'banana', 'strawberry', 'apple', 'orange'}

{'orange'}

{'strawberry', 'kiwi', 'apple', 'banana'}

{'kiwi', 'banana', 'strawberry', 'apple', 'orange'}

In [ ]:
# Removed element has to be in the set (ERROR)
fruits.remove("watermelon")

KeyError: 'watermelon'

In [ ]:
# discard(x): removes x, nothing if element is not present
fruits.discard("banana")
print(fruits)

{'kiwi', 'strawberry', 'apple', 'orange'}

In [ ]:
fruits.discard("blueberry")
print(fruits)

{'kiwi', 'strawberry', 'apple', 'orange'}

In [ ]:
# clear() : remove all elements
fruits.clear()
print(fruits)

set()

#### subset/superset/disjoint

In [ ]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
setC = {7, 8, 9}

In [ ]:
# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA))

False
True

In [ ]:
# issuperset(setX): Returns True if the set contains setX
print(setA.issuperset(setB))
print(setB.issuperset(setA))

True
False

In [ ]:
# isdisjoint(setX) : Return True if both sets have a null intersection, i.e. no same elements
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

### LeetCode 217

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

In [ ]:
# Solution 1
def containsDuplicate(nums):
    checker = set()
    for num in nums:
        if num in checker:
            return True
        checker.add(num)
    return False

In [ ]:
# Solution 2
def containsDuplicate(nums):
    return len(nums) != len(set(nums))

In [ ]:
# Test Case 1
nums = [1, 2, 3, 1]
print(containsDuplicate(nums))

# Test Case 2
nums = [1, 2, 3, 4]
print(containsDuplicate(nums))

# Test Case 3
nums = [1, 1, 1, 3, 3, 4, 3, 2, 4, 2]
print(containsDuplicate(nums))

True
False
True

### LeetCode 349

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must be unique and you may return the result in any order.

In [ ]:
# Solution 1
def intersection(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    set3 = set1.intersection(set2)
    return list(set3)

In [ ]:
# Solution 2
def intersection(nums1, nums2):
    return list(set(nums1).intersection(set(nums2)))

In [ ]:
# Test Case 1
nums1 = [1, 2, 2, 1] # {1, 2}
nums2 = [2, 2] # {2}
print(intersection(nums1, nums2))

# Test Case 2
nums1 = [4, 9, 5] # {4, 9, 5}
nums2 = [9, 4, 9, 8, 4] # {9, 4, 8}
print(intersection(nums1, nums2))

[2]
[9, 4]

### Dictionaries

In [ ]:
# Define a new dictionary
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_city)

print()

# Retrieve value for a given key
print("Capital of Italy:", capital_city["Italy"])

print()

# Store a new key-value pair
capital_city["Japan"] = "Tokyo"
print("Updated Dictionary: ", capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

Capital of Italy: Rome

Updated Dictionary:  {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}

#### Dictionary Methods

In [ ]:
# Another example
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

print()

# Get dict keys
keys = person.keys()
print(keys)

print()

# Get dict vals
values = person.values()
print(values)

print()

# Get dict key-val pairs
items = person.items()
print(items)

print()

# Converted to list
print(list(keys))

{'name': 'Alice', 'age': 25, 'city': 'New York'}

dict_keys(['name', 'age', 'city'])

dict_values(['Alice', 25, 'New York'])

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

['name', 'age', 'city']

In [ ]:
# Removing values

# pop - returns the value
val = person.pop('age')

print(val)
print()

print(person)
print()

25

{'name': 'Alice', 'city': 'New York'}

In [ ]:
# Del - does not return the value
del person['city']
print(person)

{'name': 'Alice'}

#### Iteration and Existence

In [ ]:
# Membership Test for Dictionary Keys
squares = {
    1: 1,
    3: 9,
    5: 25,
    7: 49,
    9: 81
}
print(squares)

print()

# Iterate through a dict
print("Iteration through dict:")

for key in squares:
    print(key, squares[key])

print()


# Iterate through keys

print("Iteration through dict keys:")

for key in squares.keys():
    print(key)

print()


# # Iterate through vals

print("Iteration through dict vals:")

for value in squares.values():
    print(value)

print()


# Iterate through key-val pairs

print("Iteration through dict key-val pairs:")

for item in squares.items():
    print(item)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

Iteration through dict:
1 1
3 9
5 25
7 49
9 81

Iteration through dict keys:
1
3
5
7
9

Iteration through dict vals:
1
9
25
49
81

Iteration through dict key-val pairs:
(1, 1)
(3, 9)
(5, 25)
(7, 49)
(9, 81)

#### Exercise

In [ ]:
print("The original dictionary:", squares)

print()

# Check existence
outcome1 = 1 in squares
outcome2 = 2 not in squares
outcome3 = 49 in squares
outcome4 = 49 in squares.keys()
outcome5 = 49 in squares.values()

print("Outcome 1 is", outcome1)
print("Outcome 2 is", outcome2)
print("Outcome 3 is", outcome3)
print("Outcome 4 is", outcome4)
print("Outcome 5 is", outcome5)

The original dictionary: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

Outcome 1 is True
Outcome 2 is True
Outcome 3 is False
Outcome 4 is False
Outcome 5 is True

#### Caveats

In [ ]:
# Use numbers as key, but be careful
my_dict = {3: 9, 6: 36, 9: 81}

# Retrieve key
print(my_dict[3])

9

In [ ]:
# Retrive index (ERROR)
print(my_dict[2])

KeyError: 2

In [ ]:
# use a tuple with immutable elements (e.g. numbers, strings, tuples)
my_tuple = (8, 7)
my_dict[my_tuple] = 15
print(my_dict)

{3: 9, 6: 36, 9: 81, (8, 7): 15}

In [ ]:
# list is NOT immutable (ERROR)
my_list = [8, 7]
my_dict[my_list] = 15

TypeError: unhashable type: 'list'

### LeetCode 1

In [ ]:
# Solution 1
def twoSum(nums, target):

    dict1 = {}
    n = len(nums)

    for i in range(n):
        dict1[nums[i]] = i

    for i in range(n):
        complement = target - nums[i]
        if (complement in dict1) and (dict1[complement] != i):
            return [i, dict1[complement]]

In [ ]:
# Solution 2
def twoSum(nums, target):
    dict1 = {}
    for i in range(len(nums)):
        complement = target - nums[i]
        if complement in dict1:
            return [i, dict1[complement]]
        dict1[nums[i]] = i

In [ ]:
# Test Case 1
nums = [2, 7, 11, 15]
target = 9
print(twoSum(nums, target))

# Test Case 2
nums = [3, 2, 4]
target = 6
print(twoSum(nums, target))

# Test Case 3
nums = [3, 3]
target = 6
print(twoSum(nums, target))

[0, 1]
[1, 2]
[0, 1]

### LeetCode 169

In [ ]:
def majorityElement(nums):

    freq = dict()

    for num in nums:
        if num in freq:
            freq[num] += 1
        else:
            freq[num] = 1

    for key in freq.keys():
        if freq[key] > len(nums) / 2:
            return key

    return -1

In [ ]:
# Test Case 1
nums = [3, 2, 3]
print(majorityElement(nums))

# Test Case 2
nums = [2, 2, 1, 1, 1, 2, 2]
print(majorityElement(nums))

3
2

### Modules

#### Built-in Modules

In [ ]:
import math

# square root of a number
num = 16
print(f"Square-root of {num} is {math.sqrt(num)}")
print("Square-root of {} is {}".format(num, math.sqrt(num)))

print()

# Factorial of a number
num = 4
print(f"Factorial of {num} is {math.factorial(num)}")

print()

# Trigonometric operators
val = math.pi
print(f"Sine of {round(val, 2)} is {round(math.sin(val), 2)}")

print()

# Ceiling of a number
num = 2.3
print(f"Ceiling of {num} is {math.ceil(num)}")

Square-root of 16 is 4.0
Square-root of 16 is 4.0

Factorial of 4 is 24

Sine of 3.14 is 0.0

Ceiling of 2.3 is 3

In [ ]:
import random

# Draw random integer in a range
print(random.randint(1, 10))

print()

# Draw random float between between 0 and 1
print(round(random.random(), 2))

print()

# Draw randomly from a set
print(random.choice([3, 4, 6, 10]))

10

0.26

4

#### from ... import ...

In [ ]:
from math import sqrt

# square root of a number
num = 16
print(f"Square-root of {num} is {sqrt(num)}")

Square-root of 16 is 4.0

In [ ]:
from random import randint

# Draw random integer in a range
print(randint(1, 10))

4

#### User-Defined Modules

In [ ]:
import math_calculator as mc

print(mc.pi, mc.person1['name'])

print()

print(mc.find_sqaure(10))

3.14 John

100

In [ ]:
from math_calculator import find_square_root

print(find_square_root(49))

7.0

### Lambda Function, map(), filter()

#### Lambda Function

In [ ]:
# Normal functions
def add_1(a, b):
    return a + b

added_val_1 = add_1(5, 10)
print(added_val_1)

15

In [ ]:
# Lambda function
add_2 = lambda a, b: a + b

added_val_2 = add_2(5, 10)
print(added_val_2)

15

In [ ]:
# Another example
def greet1():
    print("Hello World")

greet2 = lambda : print("Hello World")

greet3 = lambda name: print("Hello " + name)

greet1()
greet2()
greet3("New World")

Hello World
Hello World
Hello New World

#### Exercise

In [ ]:
# What is the output?

print((lambda x: 2 * x)(2))

# lambda function with trenary operator
func = lambda a, b: b - a if a <= b else a * b

print(func(10, 2))
print(func(2, 10))

4
20
8

#### map()

The map() function in Python does not modify the original iterable in-place. Instead, it applies a specified function to each element of the iterable and returns an iterable containing the results. The original iterable remains unchanged.

In [ ]:
# Example - with normal Python function
numbers = [2, 4, 8, 6, 8, 10]

def square(number):
    return number * number

numbersSquare_list = list(map(square, numbers))
# numbersSquare_set = set(map(square, numbers))

print(numbersSquare_list)
# print(numbersSquare_set)

[4, 16, 64, 36, 64, 100]

In [ ]:
# Combined with Lambda function
numbers = (1, 2, 3, 4)
numbersSquare = list(map(lambda x: x * x, numbers))
print(numbersSquare)

[1, 4, 9, 16]

In [ ]:
# Iterating through functions
def square(x):
    return (x * x)

def double(x):
    return (x + x)

# list of functions
funcs = [square, double]

value = list(map(lambda x: x(10), funcs))

print(value)

[100, 20]

In [ ]:
# Write a code to double all numbers (with lambda function)
# numbers = [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

doubled = map(lambda x: x * 2, numbers)

print(list(doubled))

[2, 4, 6, 8, 10]

In [ ]:
# Write a code to find the length of each string
# strings = ["apple", "fig", "orange"]

strings = ["apple", "fig", "orange"]

lengths = map(lambda x: len(x), strings)

print(list(lengths))

[5, 3, 6]

#### filter()

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

filtered_scores = filter(is_A_student, scores)
# filtered_scores = filter(lambda x: x > 75, scores)
print(filtered_scores)

print()

over_75 = list(filtered_scores)
print("Filtered list:", over_75)

<filter object at 0x106de2c50>

Filtered list: [90, 76, 88, 81]

#### Exercises

In [ ]:
# Write a code to keep negative numbers
# numbers = [1, 0, -3, 6, 5, -9, 24]

numbers = [1, 0, -3, 6, 5, -9, 24]

result = list(filter(lambda x: x < 0, numbers))

print(result)

[-3, -9]

In [ ]:
# Write a code to keep even numbers
# Write a code to keep odd numbers
# numbers = [1, 2, 3, 4, 5, 6, 7, 8]

numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
odd_numbers = list(filter(lambda x: x % 2 == 1, numbers))

print(even_numbers)
print(odd_numbers)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Write a code to keep vowels
# letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
# vowels = ['a', 'e', 'i', 'o', 'u']

letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = ['a', 'e', 'i', 'o', 'u']

filtered_vowels = list(filter(lambda x: x not in vowels, letters))

print(filtered_vowels)

['b', 'd', 'j']

### Scope of Variables

In [ ]:
def my_function():
    x = 5 # local variable
    print(x)

x = 4 # global variable
print(x)
my_function()
print(x)

4
5
4

In [ ]:
def my_function():
    z = 5 # local variable
    print(z + y)

y = 4 # global variable
my_function()
print(z)

9

NameError: name 'z' is not defined

In [1]:
# This function modifies global variable 's'
def f():
    global s
    print(s)
    s = "Python is awesome!"
    print(s)

s = "Python is great!"
print(s)
f()
print(s)

Python is great!
Python is great!
Python is awesome!
Python is awesome!

In [ ]:
# Example
s1 = "abc" # global variable

def f():
    s3 = "pqr" # local variable
    print(s1)
    print(s2)
    print(s3)

s2 = "xyz" # global variable
f()

abc
xyz
pqr

In [ ]:
# What is the output?

a = 1 # global variable

def f():
    print(a)

def g():
    a = 2 # local to g()
    print(a)

def h():
    global a
    a = 3 # local to h()
    print(a)

print(a)
f()
print(a)
g()
print(a)
h()
print(a)

1
1
1
2
1
3
3

### Call by Value

In [2]:
# Integer
def modify_value(x):
    x += 1
    return x

original_variable = 10

print("Original value:", original_variable)

result = modify_value(original_variable)

print("\nOriginal value after modification:", original_variable)

print("\nModified value:", result)

Original value: 10

Original value after modification: 10

Modified value: 11

In [3]:
# Strings
def modify_string(input_string):
    input_string += " World!"
    return input_string

original_string = "Hello"

print("Original string:", original_string)

modified_string = modify_string(original_string)

print("\nOriginal string after update:", original_string)

print("\nModified string:", modified_string)

Original string: Hello

Original string after update: Hello

Modified string: Hello World!

In [4]:
# Tuples
def modify_tuple(input_tuple):
    input_tuple = (4, 5, 6)
    return input_tuple

original_tuple = (1, 2, 3)

print("Original tuple:", original_tuple)

modified_tuple = modify_tuple(original_tuple)

print("\nOriginal tuple after update:", original_tuple)

print("\nModified tuple:", modified_tuple)

Original tuple: (1, 2, 3)

Original tuple after update: (1, 2, 3)

Modified tuple: (4, 5, 6)

### Call by Reference

In [5]:
# Lists
def modify_list(lst):
    lst.append(4)

original_list = [1, 2, 3]

print("Original list:", original_list)

modify_list(original_list)

print("Modified list:", original_list)

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]

In [6]:
# Dictionaries
def modify_dict(input_dict):
    input_dict['key2'] = 'new_value'

original_dict = {'key1': 'value1', 'key2': 'value2'}

print("Original Dictionary:", original_dict)

modify_dict(original_dict)

print("Modified Dictionary:", original_dict)

Original Dictionary: {'key1': 'value1', 'key2': 'value2'}
Modified Dictionary: {'key1': 'value1', 'key2': 'new_value'}

In [7]:
# Sets
def modify_set(input_set):
    input_set.add(5)

original_set = {1, 2, 3, 4}

print("Original Set:", original_set)

modify_set(original_set)

print("Modified Set:", original_set)

Original Set: {1, 2, 3, 4}
Modified Set: {1, 2, 3, 4, 5}