### Sets:
 - Unordered, mutable collection of unique elements
 - Created using braces {} or the set() constructor
 - Cannot contain duplicate elements
 
### Basic operations:
 - Accessing elements: not supported (no indexing)
 - Adding elements: set.add(item)
 - Removing elements: set.remove(item)
 - Set operations: union, intersection, difference
 
### Sets vs. other data collections:
 - Sets are faster for membership testing (e.g., checking if an element is in a set)
 - Sets eliminate duplicates automatically
 
### Common use cases:
 - Finding unique elements in a list
 - Removing duplicates from a list
 - Performing set operations (union, intersection, difference)

# Leet Code 217 - Contains Duplicate

### For a given interger array, return True if there is atleast one element has duplicates in this arry, else False.

In [19]:
l1 = [1,2,3,4]

s1 = set(l1)
print(s1)

if len(s1) < len(l1):
    print("Duplicates exist")
else:
    print("No Duplicates")

{1, 2, 3, 4}
No Duplicates

In [20]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [21]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [22]:
# True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [23]:
# True and 1 is considered the same value: But Sequence matters

thisset = {"apple", "banana", "cherry", 1, True, 2}
print(thisset)

{1, 2, 'cherry', 'apple', 'banana'}

In [24]:
# False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [25]:
# A set can contain different data types:
# Example
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'abc', 34, True, 'male', 40}

In [26]:
# Accessing elements from set
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [27]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [28]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [29]:
# Add an item to a set, using the add() method:

set1 = {"apple", "banana", "cherry"}

set1.add("orange")

print(set1)

# To add items from another set into the current set, use the update() method.

set2 = {"Mango",2, 6, "Test"}

set1.update(set2)

print(set1)

{'orange', 'cherry', 'apple', 'banana'}
{2, 'cherry', 6, 'Mango', 'apple', 'banana', 'orange', 'Test'}

In [30]:
# Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}