## Tuples:
 - Ordered, immutable collection of elements
 - Defined with parentheses () instead of square brackets []

### Basic operations:
 - Accessing elements: tuple[index]
 - Slicing: tuple[start : end : step]
 - Tuple unpacking: values in a tuple assigned to multiple variables
 
### Common use cases:
 - Returning multiple values from a function
 - Storing related static data as a single unit

In [2]:
t1 = (12,'Narasimha', 4.0)
print(t1)

print(t1[2])


print(t1[-1])

(12, 'Narasimha', 4.0)
4.0
4.0

In [3]:
t2 = (13,'knr', 4.1)
print(t1)
print(t2)

t3 = t1+t2
print(t3)

(12, 'Narasimha', 4.0)
(13, 'knr', 4.1)
(12, 'Narasimha', 4.0, 13, 'knr', 4.1)

In [4]:
print(t3[:])

(12, 'Narasimha', 4.0, 13, 'knr', 4.1)

In [5]:
print(t3[1:4])

('Narasimha', 4.0, 13)

In [7]:
print(t3[1:4:2])

('Narasimha', 13)

In [8]:
t4 = t1.append(t2) # invalid method
print(t4)

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
t4 = t1.extend(t2) # invalid method
print(t4)

AttributeError: 'tuple' object has no attribute 'extend'

In [10]:
import sys

l1 = [1,2,3,4]
t1 =(1,2,3,4)

print(sys.getsizeof(l1))
print(sys.getsizeof(t1))

88
72

In [11]:
import sys, time
l1 = list(range(10000))
t1 = tuple(range(10000))

start = time.time_ns()

for i in range(len(l1)):
    a = l1[i]

end = time.time_ns()
print("List time is :", end - start)


start = time.time_ns()

for i in range(len(t1)):
    a = t1[i]

end = time.time_ns()
print("Tuple time is :", end - start)

List time is : 819000
Tuple time is : 812000

In [13]:
# Tuple Unpacking
t1 = (12,'Narasimha', 4.0)
print(t1)

num, name, score = t1

print(num)
print(name)
print(score)

(12, 'Narasimha', 4.0)
12
Narasimha
4.0

In [1]:
#tuple repetition

t1 = (1,2,3)
print(t1)

print(t1*3)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)